Source: usbwall
Section: utils
Priority: optional
Maintainer: Philippe Thierry <phil@reseau-libre.net>
Build-Depends: debhelper (>=9), libusb-1.0-0-dev, libldap2-dev, libpam0g-dev, cmake 
Standards-Version: 3.9.8
Homepage: https://github.com/Oline/usbwall
Vcs-Git: https://github.com/Oline/usbwall.git
Vcs-Browser: https://github.com/Oline/usbwall

Package: usbwall-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base, libusb-1.0-0, libpam0g
Description: Device filtering daemon, managing locally authorized devices
 This daemon interact with PAM and manage the locally authorized devices
 list. Authorized devices list is then controlled through LDAP registration
 of devices and assignation to users.

Package: usbwall-deviddctl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Description to add with concertation with mainstream
 This is a future CLI tool to manage usbwall echosystem.
 This tool still need to be implemented. and is still under construction.
 The goal of this tool yet need to be define here.

Package: devid-schema
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Suggests: slapd
Description: LDAP schema file for devid device management schema
 The devid schema allow the association between hardware devices
 through its serial number and an existing LDAP user.
 Using this schema, it is possible to restrict local hotplugable
 devices such as USB devices only to those allowed for the locally
 connected user.

Package: libpam-usbwall
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam0g
Description: usbwall PAM support allowing user-based device filtering
 This package permits one to trigger user connections to filter locally
 authorized devices depending on the locally authenticated users.
 Any other hopluggable devices are forbidden.

