#!/usr/bin/make -f

# hardening daemon compilation flags through DEB_BUILD
# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_BUILD_HARDENING=1

export DEB_TARGET_GNU_CPU = $(shell dpkg-architecture -qDEB_TARGET_GNU_CPU)
export DEB_TARGET_GNU_SYSTEM = $(shell dpkg-architecture -qDEB_TARGET_GNU_SYSTEM)

# there is an existing Makefile in upstream sources. Yet
# the bootstrap script need to be executed first.
override_dh_auto_configure:
	./bootstrap

override_dh_install:
	dh_install
	dh_install -plibpam-usbwall out/libpam_usbwall.so /lib/$(DEB_TARGET_GNU_CPU)-$(DEB_TARGET_GNU_SYSTEM)/security

%:
	dh $@ 

# get back current tag release notes from GitHub
mkrelease:
	quilt push changelog.patch
	debian/lib/release.py
	dos2unix changelog
	quilt refresh
	quilt pop -a
	@echo
	@echo This target is made to fail intentionally, to make sure
	@echo that it is NEVER run during the automated build. Please
	@echo ignore the following error, the changelog file has been
	@echo generated SUCCESSFULLY.
	@echo
	exit 1

